<h1>Users tables</h1>

{{#each users}}
<table style="background: yellow;">
        <th  style="border: 1px solid red;">Name</th>
        <th style="border: 1px solid red;">Number</th>
        <th style="border: 1px solid red;">id</th>
    <tr>
        <td style="border: 1px solid black;">{{name}}</td>
        <td style="border: 1px solid black;">{{number}}</td>
        <td style="border: 1px solid black;">{{id}}</td>
    </tr>
</table>

{{/each}}